@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #efef8f (Lemon Chiffon);
    font-family: "Inter";
}

.app{
    background:#f0f020;
    width:50%;
    max-width:600px;
    margin:100px auto 0;
    border-radius: 10px;
    padding:30px;
}
.app h2{
    font-weight:21px;
    color:#000000;
    font-weight:600;
    border-bottom:1px solid #ffffffe2;
    padding-bottom:30px;
}
.quiz{
    padding:20px 0;

}
.quiz h2{
    font-size:10px;
    color:#000000;
    font-weight:600;
}
.btn{
    background:#f0f05f;
    border:1px solid #222;
    color:#000000;
    font-weight:300;
    width: 100%;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
    font-size: 24px;
    transition:all 0.3s;
}
.btn:hovernot([disabled]){
    background:#222;
    color:#fff;
}
.btn:disabled{
    background:#d8dbdf;
    color:#140734;
    cursor:not-allowed;
}
#next-btn{
    background:#001e4d;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    width:100%;
    border:0;
    padding:10px;
    margin:20px auto 0;
    border-radius:4px;
    cursor:pointer;
    display:none;
    font-size: 24px;
}
.correct{
    background:#23ef53;
    color:#fff;
    font-weight:500;
    width:100%;
    border:1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
}
.incorrect{
    background:hsl(354, 84%, 53%);
    color:#fff;
    font-weight:500;
    width:100%;
    border:1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
}
#question {
    font-size: 48px;
    margin-bottom: 2rem;
    line-height: 1;
}